.range-slider-container input[type="range"] {
  -webkit-appearance: none;
  height: 30px;
  width: 100%;
  background: transparent;
}

.range-slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #0d6efd;
  cursor: pointer;
  border: none;
  margin-top: -8px; /* центрирование по треку */
}

.range-slider-container input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #0d6efd;
  cursor: pointer;
  border: none;
}
